
#paramId {
    border: 5px solid green;
}

.paramClass {
    border: 1px solid red;
}

nav ul {
    display: flex;
}

nav li {
    /*margin-left: 25px;*/
    margin: auto;
    padding-left: 15px;
    list-style-type: none;
}

nav li:hover {
    border: 2px solid salmon;
    background-color: rgb(250, 100, 50, 0.7);
}

nav li:first-child {
    color: aqua;
}
