div {
    background-color: aqua;
    border: 3px solid black;
}

body * {
    font-family:"Exo 2", "Lato", "Helvetica Neue", sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    background-color: brown;
}
h1, h2, h3, h4, h5 {
    font-weight: 600;
  }